@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Slabo+27px&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-size: 100%;
  background: linear-gradient(68.15deg, #2e8b57 16.62%, #8fbc8f 85.61%);
}

.cabecalho {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 24px;
}

.cabecalho-img {
  height: 72px;
}

.cabecalho-menu {
  display: flex;
  gap: 32px;
}

.item-menu {
  font-family: 'Archivo', sans-serif;
  color: #fff2e7;
  font-weight: 400;
  font-size: 18px;
}

.item-menu:hover {
  background-color: rgba(236, 214, 196, 0.53);
}

.conteudo {
  margin-bottom: 48px;
  border-top: 0.4px double #000000;
}

.conteudo-principal {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.conteudo-escrito {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.titulo-principal {
  font-family: 'Bebas Neue', cursive;
  font-weight: 400;
  font-size: 64px;
  color: #fff2e7;
  margin: 30px;
}

.subtitulo-principal {
  font-family: 'Archivo', sans-serif;
  font-weight: 400;
  font-size: 24px;
  color: #fff2e7;
  margin: 30px;
}

.conteudo-escrito-botao {
  background-color: #ecd6c4;
  width: 180px;
  height: 60px;
  border: none;
  box-shadow: 4px 5px 4px rgba(0, 0, 0, 0);
  border-radius: 20px;
  font-family: 'Archivo', sans-serif;
  font-weight: 400;
  font-size: 24px;
  color: #2f2325;
  margin: 30px;
}

.conteudo-escrito-botao:hover {
  background-color: rgba(236, 214, 196, 0.53);
}

.img-principal {
  height: 430px;
  padding: 24px;
}

.conteudo-secundario {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  margin-top: 48px;
}

.titulo-secundario {
  border-top: 0.4px double #000000;
  padding-top: 15px;
  font-family: 'Bebas Neue', cursive;
  font-weight: 400;
  font-size: 24px;
  color: #fff2e7;
  margin-bottom: 16px;
}

.paragrafo {
  font-family: 'Archivo', sans-serif;
  font-weight: 300;
  font-size: 18px;
  color: #ecd6c4;
}

.rodape {
  padding: 32px;
  border-top: 0.4px double #000000;
}

.rodape-img {
  height: 48px;
  display: block;
  margin: 0 auto;
}
